.storage/
.cloud/
.cache/
.ssh/
image/
deps/
tts/
blueprints/
custom_components/
ssl/
dehydrated/
duckdns/
www/
*.log.?
*.log
*.db*
*.fault
*.swp
*.xml
*.old
*.sqlite
*.txt
*.conf
*.sh
*.zip
.google*
.git-credentials
.HA_VERSION
.ha*
secrets.yaml


